.nav-container{
  background-color: #E0EBE8;
  height: 900%;
  width: 100%;
  padding-top: 1%;
  color: #4AB19A;
  font-family: 'EB Garamond', serif;
}

.nav-ul{
  padding-left: 40%;

}
.navbar-brand{
  padding-left: 20%;
}

.nav-link{
  color: #4AB19A;
  font-size: 22px;
  font-family: 'EB Garamond', serif;
  
}
.nav-link:hover{
  color: #28685A;
  font-weight: 400;
}

.nav-item:checked+ a{
  color: #28685A;
  font-weight: 600;

}
/*
.st-container>input:hover+a {
  font-weight: 1000;
  font-size: 25px;
  color: #F26621;
}

.st-container>input:checked+a {
  font-weight: 800;
  font-size: 25px;
  color: #F26621;
}

.st-container>input:hover+a:after  {
  border-bottom-color: #F26621;
 
}


/* .nav-ul > .navbar-nav > .nav-item >.nav-link:active{
  color: #28685A;
  font-weight: 600;
} */

.nav-ul > .navbar-nav > .nav-item >.nav-link:active::after{
  color: #28685A;
  font-weight: 600;
}



.navbar-brand img {
  border-radius: 50%;
  background-color: #F5F9F8;
}


.nav-ul > .navbar-nav > .nav-item{
  padding-right: 15%;

}



  @media only screen and (max-width: 600px) { 

    .nav-container{
      width: 100%;
    }
  

  .nav-ul{
    padding-left: 30%;
    display: inline;
  }

  .navbar-brand{
    margin-left: -15%;
  }

  .nav-ul > .navbar-nav > .nav-item{
    display: inline-block;
    padding-right: 10%;
  }


  .nav-link{
    color: #4AB19A;
    font-size: 17px;
    font-family: 'EB Garamond', serif;
    
  }

  .nav-link:hover{
    color: #28685A;
    font-weight: 400;
  }
  
  .container-fluid h2{
    font-size: 50px;
  }


  #cloud1{
    width: 15%;
  }
  #cloud2{
    width: 15%;
  }

  .nav-ul > .navbar-nav > .nav-item >.nav-link:active::after{
    color: #28685A;
    font-weight: 600;
  }

} 


     
        


.container-fluid{
  text-align: center;
  /* padding-top: 1%; */
  margin-bottom: -5%;
 
}
.container-fluid h2{
  font-size: 70px;  
  font-family: 'Great Vibes', cursive;
  margin-top: -10%;
 
}

.container-fluid p{
  font-size: 25px;
  font-weight: 500;
  padding-top: 10%;
  font-family: 'EB Garamond', serif;
  margin-top: -10%;
  
}

#cloud1{
  margin-left: 50%;
  animation: moveInRight 3s ease-out;
}

#cloud2{
  margin-right: 50%;
  margin-bottom: 0.2%;
  margin-top: -10%;
  animation: moveInLeft 3s ease-in;
}

@keyframes moveInLeft{
  0% {
    opacity: 1;
    transform: translate(-100px);

  }
  80%{
    transform: translate(10px);

  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}

@keyframes moveInRight{
  0% {
    opacity: 1;
    transform: translate(100px);

  }
  80%{
    transform: translate(-10px);

  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}





#palace{
  margin-top: -7% ;
  object-fit: contain;
  padding-top: 5%;
  margin-bottom: .8%;
  
}

#flagP1{
  padding-top: 12.5%;
  margin-right: -5.5%;
  

}

#flagP2{
  padding-top: 12.5%;
  margin-left: -3.8%;

 
}

/* @keyframes flag{
  0%{
    opacity: 0.8;
    transform: translate(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
} */





/* .cons{
  font-family: 'Montserrat', sans-serif;
  padding-left: 25%;
  padding-top: 12%;
  
}
.cons p{
  font-size: 25px;
  font-weight: bolder;
} */

.container-fluidnote{
  text-align: center;
  margin-bottom: -4%;


}

.container-fluidnote h2{
  
  font-size: 70px;  
  font-family: 'Great Vibes', cursive;

}
#flagn1{
  margin-top: -10%;
  padding-bottom: 4%;
  margin-right: 12%;
  transform: translate(6px)
  

}

#flagn2{
  margin-top: -10%;
  padding-bottom: 4%;
  margin-left: 10%;

}


.container-fluid2{
  text-align: center;
  padding-top: 5%;
  background-color: white;
}

.container-fluid2 h2{
  font-size: 40px;
  padding-top: 0%;
  color: #28685A;
  /* font-family: 'Great Vibes', cursive; */
  /* font-family: 'EB Garamond', serif; */
  font-family: "Helvetica Neue","Lucida Grande";
  /* font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; */
  font-weight: 300;
}

#avatar{
  border-radius: 50%;
  background-color: #F3F2F1;
  padding: 1%;
}

h3{
  font-size: 35px;
  padding-top: 3%;
  /* padding-bottom: 5%; */
  color: #4AB19A;
  font-family: 'EB Garamond', serif;

}
.container-fluid2 p{
  color: #545454;
  padding-top: 0%;
  font-family: 'EB Garamond', serif;
  font-size: 23px;
  width: 40%;
  text-align: center;
  justify-content: center;
  margin-left: 30%;
  
}

@media only screen and (max-width: 1240px) and (min-width: 600px) {

}


@media only screen and (max-width: 601px){
  .container-fluid2 p{
    color: #545454;
    padding-top: 1%;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-left: -5%;
  }

}


.container-fluid4{
  padding-top: 8%;
  padding-right: 8%;
  padding-left: 10%;
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  font-family: 'EB Garamond', serif;
}


.container-fluid4 h2{
  font-size: 45px;
  color: #1F826B;
  padding-bottom: 4%;
  font-family: 'EB Garamond', serif;

  
  /* /* padding-right: 40%; */
   
}

.flex1{
  height: 30%;
  /* background-color: lawngreen; */
  display: flex;
  flex-direction: row;
  padding-bottom: 4%;
  padding-left: 10%;

}
.flex1-1{
  width: 20%;
  

}

.flex1-2 h3{
  text-align: justify;
  width: 80%;
  padding-left: 30%;
  text-align: justify;
  
  

}

.flex1-2{
  width: 75%;
  /* background-color: aqua; */
 
}

.flex1-2 p{
  font-size: 18px;
  width: 80%;
  padding-left: 30%;
  text-align: justify;
 
}


.flex2{
  height: 30%;
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: row;
  padding-right: 10%;

}


.flex2-1{
  width: 75%;
  /* background-color: aquamarine; */
  
 
}

.flex2-1 h3{
  width: 80%;
  text-align: justify;
  padding-left: 20%;
  padding-right: 10%;;
 
  

}
.flex2-2{
  width: 20%;
  transform: translateX(45px);
}

  



.flex2-1 p{
  font-size: 18px;
  width: 80%;
  padding-left: 20%;
  padding-right: 10%;
  text-align: justify;
}








@media only screen and (max-width: 1240px) {
  .flex1{
    width: 100%;
    height: 30%;
    /* background-color: lawngreen; */
    display: flex;
    flex-direction: row;
    padding-bottom: 4%;
  
  }
  .flex1-1{
    width: 25%;
  
  }
  .flex1-1 img{
    width: 25%;
   
   
  
  }

  .flex1-2{
    width: 75%;
  
   
  }
  
  .flex1-2 p{
    font-size: 18px;
    text-align: center;
    
  }
  
  
  .flex2{
    height: 30%;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: row;
  
  }
  
  
  .flex2-1{
    width: 75%;
  
  }
  .flex2-2{
    width: 25%;
   
  }
  
  .flex2-1 p{
    font-size: 18px;
    text-align: center;
  }
  

}

@media only screen and (max-width: 600px) {

  /* .flex1{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    padding-bottom: 4%;
  
  }

  .flex1-1{
    height: 40%;
    width: 50%;
    padding-bottom: 5%;
  }

 .flex1-2{

    width: 100%;
    padding: 0%;
    margin-left: -25%;
    
 }
 .flex2{

  display: flex;
  flex-direction: column;
  

}
.flex2-1{
  height: 60%;
  width: 100%;
  margin-top: 40%;
  margin-left: 30%;
  text-align: center;
  margin-left: -5%;
  

}

.flex2-2{
  height: 40%;
  width: 58%;
  margin-bottom: 90%;
  margin-top: -120%; 
  padding-left: 8%;


}

 */

  .flex1{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    padding-bottom: 4%;
  
  }
  .flex1-1{
    width: 30%;
  
  }
  /* .flex1-1 img{
    width: 25%;
   
  } */


  .flex1-2{
    width: 90%;
   
  }

  .flex1-2 h3 {
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    width: 100%;
  }

  
  .flex1-2 p{
    font-size: 20px;
    text-align: center;
    width: 100%;
    
  }
  
  
  .flex2{
    /* background-color: royalblue; */
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0%;
  
  }
   
  
  .flex2-1{
    width: 90%;
    /* background-color: rosybrown; */
    
  
  }


  .flex2-1 h3{
    
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    width: 100%;
  }

  .flex2-2{
    width: 30%;
 
  }

  .flex2-2 img{
    /* width: 40%; */
    /* padding-left: 20%; */
    background-color: saddlebrown;
   
  }
  
  .flex2-1 p{
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  
}





.container-fluid3{
  text-align: center;
  padding-top: 7%;
  background-color: white;
  font-style: 'EB Garamond', serif;
  padding-bottom: 4%;

}

.container-fluid3 h2{
  font-size: 50px;
  color: #1F826B;
  font-weight: 300;
  font-family: 'EB Garamond', serif;
 
}


.container-fluid3 h3{
  font-family: 'EB Garamond', serif;
  font-size: 25px;
  margin-top: -2%;

}


.container-fluid3 p{
  /* padding-top: 3%; */
  padding-bottom: 3%;
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  width: 70%;
  padding-left: 30%;
}

.container-fluid3 button{
  
  padding: 1% 2% 1% 2%;
  color: rgb(8, 41, 33);
  background-color: #4AB19A;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  border: none;
  transition: all .2s;
 
  /* <div class="shadow p-3 mb-5 bg-white rounded">Regular shadow</div> */
 
  
}


.container-fluid3 button:hover {
  border: none;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

}
.container-fluid3 button:active {
  border: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

}





.fa-envelope {
  font-size: 22px;
 
  
}

@media only screen and (max-width: 1240px) and (min-width: 599px) {
  .container-fluid3 p{
    /* padding-top: 3%; */
    padding-bottom: 3%;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
   

  }

  .container-fluid3 button{
    /* border-radius: 5%; */
    padding: 1% 2% 1% 2%;
    color: rgb(9, 67, 53);
    background-color: #4AB19A;
    
  }

}

@media only screen and (max-width: 600px) {
  .container-fluid3 p{
    /* padding-top: 3%; */
    padding-bottom: 3%;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin-left: -15%;
    
    
  }
  
  .container-fluid3 button{
    padding: 3% 27% 3% 27%;
    color: rgb(10, 41, 34);
    background-color: #4AB19A;
    
  }

  .container-fluid2 h2{
    font-size: 28px;
    font-style: oblique;
   
  }

  
}



.container-fluid5{
  background-color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;

}
.container-fluid5 h3{
  font-size: 32px;
}

.container-fluid5 p{
  font-size: 17px;
  
}
#para > a{
  color: rgb(61, 167, 110);
  font-weight: 500;
  text-decoration: underline;
  

}
#para > a:hover{
  color: rgb(14, 101, 55);
  font-weight: 600;
  text-decoration: underline;
  
}

.container-fluid5 img{
  border-radius: 50%;
  background-color: #F5F9F8;
}


.container-fluid6{
  background-color: #7DCC93;
  text-align: center;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.container-fluid6 h3{
  color: #F5F9F8;
  font-size: 35px;
}

.container-fluid6 p{
  font-size: 16px;
}

#para{
  width: 70%;
  padding-left: 28%;

}
.container-fluid6 img{
  border-radius: 2%;
  box-shadow: 6px 8px 6px rgb(68, 65, 75);
}


.container-fluid6 button{
  border-radius: 2.5%;
  padding: 1% 2% 1% 2%;
  color: white;
  background-color: #2B3D51;
  border: none;

}

.container-fluid6 button:hover{
  background-color: rgb(3, 4, 4);
}


.container-fluid6 button> a{
  color: #F5F9F8;
  text-decoration: none;

}


#blue{
  background-color: #4299ED;;
}
#blue:hover{
  background-color: rgb(12, 123, 227);;
}


@media only screen and (max-width: 600px) {
  #para{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  
  }
  p{
    width: 90%;
    font-size: 12px;
    padding-left: 10%;
  }

  .container-fluid6 button {
     margin: 5%;
     border-radius: 2.5%;
     padding: 3% 29% 3% 29%;
  }
  .container-fluid6 button:hover{
    background-color: rgb(3, 4, 4);
  }


  #blue{
    background-color: #4299ED;;
  }
  #blue:hover{
    background-color: rgb(12, 123, 227);;
  }
  
}



.footer{
  background-color: #E0EBE8;
  font-family: 'EB Garamond', serif;
  color: #4AB19A;
  padding: 3%;
  text-align: center;
  font-size: 18px;
  width: 100%;
}
.footer a{
  text-decoration: underline;
  color: #4AB19A;

}
.foot{
  padding-bottom: 2%;

}

.foot>.links{
  color:#4AB19A;
  padding: 3%;
  font-size: 20px;
  text-decoration: none;

}

.foot>.links:hover{
  color: #28685A;
  font-size: 23px;
  font-weight: 500;

}
/* font-family: 'EB Garamond', serif;
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Roboto', sans-serif; */

#flag1{
  margin-top: -6%;
  margin-right: 15% ;
}

#flag2{
  margin-top: -6%;
}

.container-fluid7{
  width: 60%;
  background-image: linear-gradient(to bottom right,#4AB19A, #AAF3A7); 
  /* background-color: #4AB19A; */
  padding-left: 8%;
  padding-right: 10%;
  /* margin-left: 15%; */
  text-align: center;
  padding-top: 15%;
  margin-left: 20%;
  border-radius: 1%;
  
 
}

.container-fluid7 h2{
  font-size: 50px;
  color: white;
  /* font-family: 'EB Garamond', serif; */
  font-family: 'Great Vibes', cursive;
  margin-top: -15%;
}

.icon-flex{
  display: flex;
  flex-direction: column;
  /* height: 100%;
  width: 100%; */
}

.icon-flex1{
  height: 50%;
  /* background-color: khaki; */
  display: flex;
  flex-direction: row;
  padding: 2%;
  padding-top: 10%;

}
.icons{
  width: 30%;
  height: 30%;


  /* transform: translateY(-30px); */
  /* box-shadow: 5px 10px 20px rgba(24, 61, 9, 0.9); */
}

@keyframes zoomIn{
  0% {
    opacity: 0;
    transform: translate(-100px);

  }
  80%{
    transform: translate(0px);

  }

  100%{
    opacity: 1;
    transform: translate(0px);
    
  }

}

.icon-flex2{
  height: 50%;
  /* background-color: rgb(140, 240, 140); */
  display: flex;
  flex-direction: row;
  padding: 2%;
  padding-top: 10%;
  padding-bottom: 15%;
  padding-left: 2%;
 
  
}

.iconsId{
  color: white;
  font-size: 55px;
  transition: width 2s;
 
  /* transition-timing-function: ease-in; */
}

.skills{
  color: white;
  font-size: 25px;
  
}
#noteh3{
  padding-bottom: 5%;
  margin-top: -3%;
}



@media only screen and (max-width: 1240px) {
  .container-fluid7{
    width: 60%;
    background-image: linear-gradient(to bottom right,#4AB19A, #AAF3A7);
    /* background-color: #4AB19A; */
    padding-left: 8%;
    padding-right: 10%;
    /* margin-left: 15%; */
    text-align: center;
    padding-top: 15%;
    margin-left: 20%;
  
   
  }
  .iconsId{
    color: white;
    font-size: 60px;
  }
  
  .skills{
    color: white;
    font-size: 25px; 
  }
  
}



@media only screen and (max-width: 600px) {

  .container-fluid7{
    width: 85%;
    background-image: linear-gradient(to bottom right,#4AB19A, #AAF3A7); 
    /* background-color: #4AB19A; */
    padding-left: 8%;
    padding-right: 10%;
    /* margin-left: 15%; */
    text-align: center;
    padding-top: 15%;
    margin-left: 7%;
  
   
  }
  
  .icons{
    width: 30%;
    height: 30%;
  }

  .iconsId{
    color: white;
    font-size: 40px;
  }
  .skills{
    color: white;
    font-size: 12px;
    
  
  }

}
