body {
  background-image: url(../images/bloom-blossom-clean-clear-580871.jpg);
  


.header {
  display: block;
  text-align: center;
  padding: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;s
}
