<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css" />
    <link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Lobster&family=Montserrat&family=Open+Sans:wght@600&family=Oswald&family=Play&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=EB+Garamond&family=Great+Vibes&family=Kaushan+Script&family=Lobster&family=Marck+Script&family=Montserrat&family=Open+Sans:wght@600&family=Oswald&family=Play&family=Roboto&family=Satisfy&display=swap" rel="stylesheet">
    
    <title>Farjana's Portfolio</title>
</head>
<body>
    
    <div class="nav-container">
        <nav class="navbar navbar-expand-sm">
      
          <a class="navbar-brand" href="#">
            <img src="../Assets/myAvatar2.png" alt="logo" style="width:65px;">
          </a>
          
          
          <div class="nav-ul">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" href="https://www.farjana-nipa.com/index.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./works.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notes</a>
            </li>
          </ul>
        </div>
        </nav>
    
      <div class="container-fluid">
        <img id="cloud1" src="../Assets/cloudy.png" alt="logo" style="width:160px;margin-top:-1%;">
  
        <h2>Work</h2>
       
        <img id="cloud2" src="../Assets/cloudy.png" alt="logo" style="width:160px;">
      </div>
      <div class="container-fluid">
        <img id="flag1" src="../Assets/pole-clipart-golf-flag-7-original.png" alt="logo"  style="width:150px;">
        <img id="flag2" src="../Assets/pole-clipart-golf-flag-7-original.png" alt="logo"  style="width:150px;">

      </div>
  
    </div>

    <div class="container-fluid2">
        <!-- <img src="Assets/cloudy.png" alt=""> -->
        <h3>What I've been up to.</h3>
        <p> Here's a selection of some recent work. For more up to the minute work you can visit me on github account.</p>

    </div>
    
</body>
</html>